[package]
name = "hdbconnect"
version = "0.15.2"
authors = ["emabee <meinolf.block@sap.com>","Pascal Seitz <pascal.seitz@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/emabee/rust-hdbconnect"
documentation = "https://docs.rs/hdbconnect/"

description = "A pure rust driver for SAP HANA(TM)"
keywords = ["relational", "database", "driver", "serde", "HANA"]
categories = ["database"]

[package.metadata.docs.rs]
all-features = true

[features]
default = []
tls = ["rustls","webpki"]
alpha_routing = []

[dependencies]
bigdecimal = {version = "0.0.14", features = ["serde"]}
blake2 = "0.8.0"
byteorder = "1.3"
cesu8 = "1.1"
chrono = { version = "0.4", features = ["serde"] }
#dist_tx = {path = "../dist_tx"}
dist_tx = "0.2"
hex = "0.3"
hmac = "0.7.0"
log = "0.4"
num = "0.2"
pbkdf2 = {version = "0.3.0", default-features = false}
r2d2 = "0.8"
rand = "0.5"
rustls = {version = "0.15.1", optional = true}
secstr = "0.3"
serde = "1.0"
# serde_db = { path = "../serde_db" }
serde_db = "0.8.1"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.8.0"
url = "1.7"
username = "0.2"
vec_map = "0.8"
webpki = {version = "0.19.1", optional = true}

[dev-dependencies]
serde_bytes = "0.10"
# flexi_logger = {path = "../flexi_logger"}
flexi_logger = "0.11"
version-sync = "0.8"
# geo = "0.12"
# geo-types = "0.4.1"
# wkb = "*"
# wkb = { path = "../wkb" }
